//colors
$black: #000000;
$color_storm_dust_approx: #666666;
$color_celeste_approx: #cccccc;
$color_guardsman_red_approx: #cc0000;
$white: #ffffff;
$color_mine_shaft_approx: #333333;

//fonts
$font_0: Arial !important;

//@extend-elements
//original selectors
//.carousel-inner >.item >img, .carousel-inner >.item >a >img
%extend_1 {
  max-height: 60px;
  border: 2px solid $color_celeste_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  background-color: $white;
}


body {
  font-family: $font_0;
}
.product-comp-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.product-inline-separator {
  margin-left: 20px;
  margin-right: 20px;
}
.top-buffer {
  margin-top: 20px;
}
.product-title {
  text-align: center;
  color: $black;
  font-size: 26px;
  line-height: 30px;
}
.product-price {
  color: $black;
  font-size: 30px;
  font-weight: 700;
  line-height: 14px;
}
.product-small {
  color: $color_storm_dust_approx;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}
.product-image {
  margin: auto;
}
.product-separator {
  height: 1px;
  background-color: $color_celeste_approx;
}
.product-offer {
  color: $color_guardsman_red_approx;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.product-quantity {
  height: 40px;
  width: 240px;
  border: 1px solid $color_celeste_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  background-color: $white;
}
.product-quantity-label {
  display: inline-block;
  color: $color_mine_shaft_approx;
  font-weight: 400;
  margin: 10px;
  font-size: 12px;
  line-height: 14px;
}
.product-quantity-value {
  margin: 5px;
  line-height: 14px;
  float: right;
}
.product-quantity-widget {
  margin: 2px 5px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 15px;
}
.product-returns {
  display: table;
}
.product-returns-text {
  padding-right: 10px;
  vertical-align: middle;
  display: table-cell;
  color: $color_storm_dust_approx;
  font-size: 20px;
  line-height: 18px;
}
.horizontal-separator {
  padding-left: 10px;
  border-left: 1px solid $color_celeste_approx;
  display: table-cell;
  color: $color_storm_dust_approx;
  font-size: 10px;
  line-height: 14px;
}
.row-callout {
  display: table-row;
}
.product-detail-label {
  font-size: 28px;
  color: $black;
}
.product-details {
  padding-left: 15px;
  margin-bottom: 20px;
  > li {
    font-size: 14px;
  }
}
.carousal-wrapper {
  margin: 20px;
}
.carousel-control {
  &.left {
    background-image: none !important;
    filter: none !important;
  }
  &.right {
    background-image: none !important;
    filter: none !important;
  }
}
.carousel .item img {
  margin: 0 auto;
}
.carousel-inner > .item {
  > img {
    @extend %extend_1;
  }
  > a > img {
    @extend %extend_1;
  }
}