<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Retail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/css/main.css">
    <!--endbuild-->
</head>

<body ng-app="myRetail">
<nav class="navbar" id="nav"></nav>
<div class="container" ng-controller="productController as product">
    <div class="row">
        <div class="col-md-6">
            <!-- Product Title -->
            <div class="product-title">{{product.title}}</div>
            <!-- Product Image-->
            <img class="product-image img-responsive" ng-src={{product.primaryImage}} alt="Primary Image">
            <div class="carousal-wrapper">
                <div id="productCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item" ng-class="{active:!$index}" ng-repeat="photo in product.alternateImages">
                            <img class="img-responsive" ng-src={{photo.image}} alt="image{{$index}}">
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left" href="#productCarousel" data-slide="prev"><img
                            src="app/images/Arrow_Left.jpg" alt="Left Arrow" aria-label="Left Arrow"/></a>
                    <a class="carousel-control right" href="#productCarousel" data-slide="next"><img
                            src="app/images/Arrow_Right.jpg" alt="Right Arrow" aria-label="Right Arrow"/></a>
                </div>
            </div>
        </div>
        <!-- Product Price -->
        <div class="col-md-6"> <span class="product-price">{{product.offers.formattedPriceValue}}
                <small class="product-small"> {{product.offers.priceQualifier}}</small>
            </span>
            <div class="product-separator top-buffer"></div>
            <!-- Product Promotions -->
            <div class="product-comp-wrapper">
                <p class="product-offer" ng-repeat="promotion in product.promotions">
                    <img src="app/images/Vector_Smart_Object.jpg" class="right-buffer" alt="Bookmark"
                         title="BookmarkImage"/>{{promotion.Description["0"].shortDescription}}
                </p>
            </div>
            <div class="product-separator"></div>
            <!-- Product Quantity -->
            <div class="product-quantity product-comp-wrapper"><span class="product-quantity-label">quantity:</span>
                <span class="product-quantity-value"><button type="button" aria-label="Plus" ng-click="product.increment()"
                                                             class="btn btn-circle btn-md" value="plus" tabindex="0" role="button">
                       <i class="glyphicon glyphicon-plus"></i>
                        </button> {{product.quantity}} <button type="button" aria-label="Minus" ng-click="product.decrement()"
                                                               class="btn btn-circle btn-md" value="minus" tabindex="0" role="button">
                        <i class="glyphicon glyphicon-minus"></i></button>
                    </span></div>
            <!-- Product Buttons -->
            <div class="product-comp-wrapper">
                <button ng-if="product.purchasingChannel=='0'||product.purchasingChannel=='1'" type="button"
                        class="btn my-btn1 btn-md" value="pickUp" tabindex="0" role="button">PICK UP
                    IN STORE
                </button>
                <button ng-if="product.purchasingChannel=='0'||product.purchasingChannel=='2'" type="button"
                        class="btn my-btn2 btn-md" value="addCart" tabindex="0" role="button">ADD TO
                    CART
                </button>
            </div>
            <!-- Product Returns-->
            <div class="product-returns product-comp-wrapper">
                <div class="row-callout"><span class="product-returns-text">returns</span>
                    <small class="horizontal-separator">This item must be returned within 30 days of the ship date. See
                        return policy for details. Prices, promotions, styles and availability may vary by store and
                        online.
                    </small>
                </div>
            </div>
            <!-- Product Buttons-->
            <div class="product-comp-wrapper">
                <button type="button" class="btn btn-xs">ADD TO REGISTRY</button>
                <button type="button" class="btn btn-xs">ADD TO LIST</button>
                <button type="button" class="btn btn-xs">SHARE</button>
            </div>
            <!-- Product Highlights-->
            <div class="product-comp-wrapper"><span class="product-detail-label">product highlights</span>
                <ul class="product-details">
                    <li ng-repeat="feature in product.features" ng-bind-html="product.trustAsHtml(feature)"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- Product Reviews-->
            <div class="jumbotron">
                <div class="row">
                    <div class="col-xs-6"><p>PROS</p></div>
                    <div class="col-xs-6"><p>CONS</p></div>
                </div>
                <div class="product-separator"></div>
                <div class="row top-buffer">
                    <div class="col-xs-6">
                        <div star-directive ng-model=product.reviews["0"].Pro["0"].overallRating max="5"></div>
                        <div><strong>{{product.reviews["0"].Pro["0"].title}}</strong></div>
                        <div>{{product.reviews["0"].Pro["0"].review}}</div>
                        <div><a>{{product.reviews["0"].Pro["0"].screenName}}</a><span> {{product.reviews["0"].Pro["0"].datePosted | utcToLocal}}</span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div star-directive ng-model=product.reviews["0"].Con["0"].overallRating max="5"></div>
                        <div><strong>{{product.reviews["0"].Con["0"].title}}</strong></div>
                        <div>{{product.reviews["0"].Con["0"].review}}</div>
                        <div><a>{{product.reviews["0"].Con["0"].screenName}}</a><span> {{product.reviews["0"].Con["0"].datePosted | utcToLocal}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--build:js js/main.min.js -->
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-mocks/angular-mocks.js"></script>
<script src="node_modules/angular-aria/angular-aria.js"></script>
<script src="node_modules/angular-resource/angular-resource.js"></script>
<script src="node_modules/angular-sanitize/angular-sanitize.js"></script>
<script src="app/js/app.module.js"></script>
<script src="app/js/layout/product.controller.js"></script>
<script src="app/js/services/product.services.js"></script>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- endbuild -->
</body>

</html>