.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  max-height: 60px;
  border: 2px solid #cccccc;
  border-radius: 3px;
  background-color: #ffffff; }

body {
  font-family: Arial !important; }

.product-comp-wrapper {
  margin-top: 20px;
  margin-bottom: 20px; }

.product-inline-separator {
  margin-left: 20px;
  margin-right: 20px; }

.top-buffer {
  margin-top: 20px; }

.right-buffer {
  margin-right: 10px; }

.product-title {
  text-align: center;
  color: #000000;
  font-size: 26px;
  line-height: 30px; }

.product-price {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 14px; }

.product-small {
  color: #666666;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px; }

.product-image {
  margin: auto; }

.product-separator {
  height: 1px;
  background-color: #cccccc; }

.product-offer {
  color: #cc0000;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px; }

.product-quantity {
  height: 40px;
  width: 240px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #ffffff; }

.product-quantity-label {
  display: inline-block;
  color: #333333;
  font-weight: 400;
  margin: 10px;
  font-size: 12px;
  line-height: 14px; }

.product-quantity-value {
  margin: 5px;
  line-height: 14px;
  float: right; }

.product-quantity-widget {
  margin: 2px 5px; }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px; }

.product-returns {
  display: table; }

.product-returns-text {
  padding-right: 10px;
  vertical-align: middle;
  display: table-cell;
  color: #666666;
  font-size: 20px;
  line-height: 18px; }

.horizontal-separator {
  padding-left: 10px;
  border-left: 1px solid #cccccc;
  display: table-cell;
  color: #666666;
  font-size: 10px;
  line-height: 14px; }

.row-callout {
  display: table-row; }

.product-detail-label {
  font-size: 28px;
  color: #000000; }

.product-details {
  padding-left: 15px;
  margin-bottom: 20px; }
  .product-details > li {
    font-size: 14px; }

.carousal-wrapper {
  margin: 20px; }

.carousel-control.left {
  background-image: none !important;
  filter: none !important; }

.carousel-control.right {
  background-image: none !important;
  filter: none !important; }

.carousel .item img {
  margin: 0 auto; }

.my-btn1 {
  border-radius: 3px;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5); }
  .my-btn1:hover, .my-btn1:focus, .my-btn1.focus, .my-btn1:active, .my-btn1.active,
  .open > .my-btn1.dropdown-toggle {
    color: #ffffff;
    background-color: #333333; }

.my-btn2 {
  border-radius: 3px;
  background-color: #cc0000;
  color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5); }
  .my-btn2:hover, .my-btn2:focus, .my-btn2.focus, .my-btn2:active, .my-btn2.active,
  .open > .my-btn2.dropdown-toggle {
    color: #ffffff;
    background-color: #ff3333; }

.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0; }

ul.rating {
  display: inline-block !important; }

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer; }

.rating .filled {
  color: red; }
